extends layout

block content
  h1= title

  ul
    each category in categoryList
      li
        a(href=category.url) #{category.name}
        |  (#{itemCount[category._id]})

    else
      li There are no category.